GES_FL002_0000_Transcribe/GES_FL002_0000_Teranscribe_main.json
{
  "name": "GES_FL002_0000_Teranscribe_main",
  "nodes": [
    {
      "parameters": {
        "url": "http://nca-toolkit:8080/v1/toolkit/authenticate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        -16
      ],
      "id": "0e694582-ed21-4102-8448-52e9443558b8",
      "name": "Authenticate  NCA Toolkit",
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "cx1K6afyBc5c7dKz",
          "name": "nca-toolkit"
        }
      },
      "notes": "/v1/toolkit/authenticate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nca-toolkit:8080/v1/media/transcribe",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_url\": \"http://minio:9000/nca-toolkit/{{ $('HTTP Request').item.json.object }}\",\n  \"webhook_url\": \"http://n8n:5678/webhook-test/transcripe_n8n?folder={{ $('HTTP Request').item.json.folder }}\",\n  \"task\": \"transcribe\",\n  \"include_text\": true,\n  \"include_srt\": true,\n  \"include_segments\": true,\n  \"response_type\": \"cloud\"\n}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        -16
      ],
      "id": "fa0e1735-fed4-47e4-8c58-bff6b2adbd2f",
      "name": "Transcribe Media",
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "cx1K6afyBc5c7dKz",
          "name": "nca-toolkit"
        }
      },
      "notes": "/v1/media/transcribe"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -944,
        -16
      ],
      "id": "ce68d71a-4041-4556-8c27-be494eded0d6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://minio-upload-api:8000/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -336,
        -16
      ],
      "id": "e290f3d6-bc63-4b30-85ac-443b0fe70f36",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/*mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -640,
        -16
      ],
      "id": "24f73913-a8da-4751-9ddb-4169be52c749",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files-out/{{ $('HTTP Request').item.json.folder }}.zip",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        608,
        -16
      ],
      "id": "da2f7f5b-fc1d-498a-b328-9dfead4fdc25",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "url": "=http://minio-upload-api:8000/download-folder?folder={{ $('HTTP Request').item.json.folder }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        -16
      ],
      "id": "3db86d93-14ab-407d-a1f0-f765a611aab2",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Authenticate  NCA Toolkit": {
      "main": [
        [
          {
            "node": "Transcribe Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Authenticate  NCA Toolkit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Media": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "609d7231-40d4-4394-9638-125b28f048d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6fd5a4cd757601a3491f91722185dd0a72691bd6dd9d685efd695c3f8938e728"
  },
  "id": "AlMskhH4nAqNzbTW",
  "tags": []
}